#form{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 1px;
}

#actions{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#saved{
    display: none;
}

#saved.show{
    display: inline;
}

main{
    /*background-color: #75ba75;*/
    /*padding: 1rem;*/
    /*overflow: hidden;*/
    border-radius: 12px;
    background: #b1f5b1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 1rem;
    min-width: 240px;
}

/*body{*/
/*    border-radius: 10px;*/
/*}*/

/*html{*/
/*    border-radius: 10px;*/
/*}*/

body {
    margin: 0;
    padding: 4px;
    background: #be95be;
}